
.elemento {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s, transform 1s;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
}

.elemento.aparece {
  opacity: 1;
  transform: translateY(0);
}

* {
  list-style: none;
  box-sizing: border-box;
}
  &:before, &:after {
    box-sizing: border-box;
  }


/*****home******/
.home{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
  top: 105px;
}
.opaco{
  background: rgba(255,255,255,0.15);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255,255,255,0.075);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:  899;
}

/*** rectangulo del fondo***/
.backRectangle{
  z-index: 901;
  max-width: 1250px;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.textos{
  background-color: transparent;
  color: #2d4848;
  width: 60%;
  

}
.textos h1{
  text-transform: uppercase;
  text-align: center;
  font-family:Krona One;
}
.textos p{
  text-align: center;
  margin: 10px 20px;
  
}
.saber-mas{
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 50px;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
  
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.7rem;
  height: 2.7rem;
  background: #F2622E;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: rgb(212, 104, 25);
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }

.index1{
  width: 40%;
  height: 500px;
  margin-right: 3%;
}

.index1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/*Carrusel*/

/*Carrusel*/

/***Grua 2***/
* {
    box-sizing: border-box; }
  



  
.crane__list, .skyscrappers__list, .tree__container {
    position: absolute;
    width: 100%;
    bottom: 0; 
}

.advice {
    display: flex;
    height: 50vh;
    width: 100vw;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
}
.advice__title {
    font-size: 3rem;
    text-align: center; 
}
.advice__description {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center; 
}
.advice__description span:first-child {
    margin-right: -.7rem; 
}
.advice__description span:last-child {
    margin-left: -.7rem; 
}
.city-stuff {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    overflow: hidden;
    box-shadow: inset 0 -60px 0 -30px #000000; 
}

.skyscrappers__list {
    width: 100%;
    height: 86.6666666667px;
    left: 0; 
}
.skyscrappers__list .skyscrapper__item {
    position: absolute;
    height: inherit;
    bottom: 15%;
    width: 43.3333333333px;
    background: linear-gradient(115deg, #000000 73%, #121212 73%, #3d3d3d 100%);
}
.skyscrappers__list .skyscrapper__item::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    bottom: 10%;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAGCAYAAAAG5SQMAAAAFElEQVQImWP4////fwYYIJKDEwAAfPsP8eFXG40AAAAASUVORK5CYII=") space; 
}
    .skyscrappers__list .skyscrapper__item:last-child:not(:only-child) {
      background: #000000; }
  .skyscrappers__list .skyscrapper-1 {
    width: 121.3333333333px;
    height: 138.6666666667px;
    right: 25%;
    bottom: 0;
    z-index: 10;
    transform: rotate(180deg); }
  @media screen and (max-width: 450px) {
    .skyscrappers__list .skyscrapper-1 {
      display: none; } }
  .skyscrappers__list .skyscrapper-2 {
    width: 60.6666666667px;
    height: 69.3333333333px;
    right: 35%;
    bottom: 0;
    z-index: 10;
    transform: rotate(180deg);
    bottom: 10%; }
    @media screen and (max-width: 900px) {
      .skyscrappers__list .skyscrapper-2 {
        display: none; } }
  @media screen and (max-width: 450px) {
    .skyscrappers__list .skyscrapper-1 {
      display: none; } }
  .skyscrappers__list .skyscrapper-3 {
    width: 40.4444444444px;
    height: 46.2222222222px;
    right: 45%;
    bottom: 0;
    z-index: 10;
    transform: rotate(180deg);
    height: 115.5555555556px; }
    @media screen and (max-width: 900px) {
      .skyscrappers__list .skyscrapper-3 {
        display: none; } }
  @media screen and (max-width: 450px) {
    .skyscrappers__list .skyscrapper-1 {
      display: none; } }
  .skyscrappers__list .skyscrapper-4 {
    width: 30.3333333333px;
    height: 34.6666666667px;
    right: 55%;
    bottom: 0;
    z-index: 10;
    transform: rotate(180deg);
    height: 86.6666666667px; }
    .skyscrappers__list .skyscrapper-4::after {
      width: 20%;
      height: 60%;
      left: 25%; }
  @media screen and (max-width: 450px) {
    .skyscrappers__list .skyscrapper-1 {
      display: none; } }
  .skyscrappers__list .skyscrapper-5 {
    width: 24.2666666667px;
    height: 27.7333333333px;
    right: 65%;
    bottom: 0;
    z-index: 10;
    transform: rotate(180deg);
    width: 7%;
    right: 67%;
    height: 50%;
    z-index: 11; }
    .skyscrappers__list .skyscrapper-5::after {
      height: 0; }
  @media screen and (max-width: 450px) {
    .skyscrappers__list .skyscrapper-1 {
      display: none; } }

.crane-cabin, .crane-arm, .crane-picker {
  transform-origin: 80% center;
  animation: crane__movement 12s infinite alternate; }

.crane__list {
  width: 260px;
  height: 173.3333333333px;
  z-index: 0;
  perspective: 600px; }
  .crane__list .crane__item {
    position: absolute;
    
    border-radius: 2px; }
  .crane__list .crane-cable {
    width: 1px;
    height: 1px;
    border: none;
    outline: 1px solid transparent;
    background: #000000;
    z-index: 0; }
  .crane__list .crane-cable-1 {
    width: 60%;
    top: 0;
    left: 11%;
    transform-origin: right 0;
    animation: cable-1__movement 12s infinite alternate; }
  .crane__list .crane-cable-2 {
    width: 19%;
    top: 0;
    right: 8%;
    transform-origin: top left;
    animation: cable-2__movement 12s infinite alternate; }
  .crane__list .crane-cable-3 {
    height: 30%;
    top: 22%;
    left: 25%;
    transform-origin: right center;
    animation: cable-3__movement 12s ease-in-out infinite alternate; }
    .crane__list .crane-cable-3::after {
      content: '';
      display: block;
      position: absolute;
      height: .2em;
      width: 9000%;
      bottom: 0;
      left: -4500%;
      background: #000000;
    }
  .crane__list .crane-stand {
    width: 5%;
    height: 100%;
    right: 25%;
    z-index: 1;
    background: #000000; }
  .crane__list .crane-weight {
    width: 8%;
    height: 20%;
    right: 4%;
    top: 12%;
    z-index: 2;
    background: #000000;
    transform-origin: 0 center;
    animation: crane-weight__movement 12s infinite alternate; }
  .crane__list .crane-cabin {
    width: 12%;
    height: 9%;
    right: 24%;
    top: 20%;
    z-index: 2;
    background: #000000; }
    .crane__list .crane-cabin::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 10%;
      top: 60%;
      left: 0;
      background: white; }
  .crane__list .crane-arm {
    width: 100%;
    height: 7%;
    top: 15%;
    left: 5%;
    border-top-left-radius: 10px;
    z-index: 3;
    background: #000000; }

.crane-1 {
  left: 16%;
  z-index: 10; }

.crane-2 {
  left: 30%;
  z-index: 8;
  bottom: -1rem;
  transform: scale(0.75) scaleX(-1); }
  @media screen and (max-width: 900px) {
    .crane-2 {
      display: none; } }
  .crane-2 .crane-cable-3 {
    animation-delay: 3s; }

.crane-3 {
  left: 40%;
  z-index: 10;
  bottom: -.5rem;
  transform: scale(0.8); }
  @media screen and (max-width: 900px) {
    .crane-3 {
      z-index: -1;
      transform: scale(0.75) scaleX(-1); } }
  @media screen and (max-width: 900px) {
    .crane-3 {
      display: none; } }
  .crane-3 .crane-cable-3 {
    animation-delay: 4.5s; }

.tree__container {
  width: 100%;
  height: 62.6666666667px;
  left: 0;
  margin-bottom: 4px; }

.tree__item {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  left: 60%; }

.tree__trunk {
  order: 2;
  display: block;
  position: absolute;
  width: 4px;
  height: 8px;
  margin-top: 8px;
  border-radius: 2px;
  background: #57473d; }

.tree__leaves {
  order: 1;
  position: relative;
  border-top: 0 solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 32px solid #000000;
  border-left: 4px solid transparent; }
  .tree__leaves::after {
    content: '';
    position: absolute;
    height: 100%;
    left: -4px;
    border-top: 0;
    border-right: 0;
    border-bottom: 32px solid #000000;
    border-left: 4px solid transparent; }

.tree-1 {
  left: 66%; }
  @media screen and (max-width: 768px) {
    .tree-1 {
      display: none; } }

.tree-2 {
  left: 67%; }
  @media screen and (max-width: 768px) {
    .tree-2 {
      display: none; } }

.tree-4 {
  left: 57%; }

.tree-5 {
  left: 58%; }
.tree-6{
    left:40%
}
.tree-7 {
  left: 47%; }
  @media screen and (max-width: 450px) {
    .tree-7 {
      display: none; } }

.tree-8 {
  left: 52%; }
  @media screen and (max-width: 450px) {
    .tree-8 {
      display: none; } }

@keyframes cable-1__movement {
  0%, 20% {
    transform: rotateY(0) rotateZ(-10deg); }
  70%, 100% {
    transform: rotateY(45deg) rotateZ(-10deg); } }
@keyframes cable-2__movement {
  0%, 20% {
    transform: rotateY(0) rotateZ(29deg); }
  70%, 100% {
    transform: rotateY(15deg) rotateZ(29deg); } }
@keyframes cable-3__movement {
  0% {
    transform: translate(0, 0); }
  20% {
    transform: translate(2500%, -18%); }
  60% {
    transform: translate(11000%, -25%); }
  70% {
    height: 30%;
    transform: translate(9100%, -25%); }
  90%, 100% {
    height: 80%;
    transform: translate(9100%, -15%); } }
@keyframes crane__movement {
  0%, 20% {
    transform: rotateY(0); }
  70%, 100% {
    transform: rotateY(45deg); } }
@keyframes crane-weight__movement {
  0%, 20% {
    transform: rotateY(0) translateX(0); }
  70%, 100% {
    transform: rotateY(45deg) translateX(-50%); } }

/***Grua 2***/



/*****aboutus******/
.aboutus{
    width: 100%;
    
    background: #f4f4f4;
    align-items: center;
    
}
.titleAboutUs{
  text-align: center;
  margin: 20px 0px 10px 0px;
  font-family: Krona one;
}
.captionAboutUs{
  text-align: center;
  font-size: 20px;
}
.aboutus .row{
  align-items: center;
}

.aboutus .row:last-child{margin-bottom: 20px;}

.col-md-12{
  text-align: center;
  margin-top: 20px;
}



.aboutus > .container{
  padding-top: 106px;
  display: grid;
  
}

.photoAU{
  height: 20rem;
  align-items: center;
}

.seccionDosAU{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 17px;
}

.seccionDosAU h1{
  font-family: Krona one;
  font-size: 25px;
}

.seccionDosAU p {
  text-align: justify;
}
/*****works******/
.works{
  width: 100%;
  height: 100vh;
  background:#f4f4f4 ;  
  display: flex;
}

.works .opaco{
  display: none;
}

.contenedorWorks{
  display: flex;
  width: 100%;
}
.workscontainerMobileDevice{display: none;}

.workscontainer{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.panelesInfo{
  width: 300px;
  height: 100vh;
  transition: flex 0.5s ease-out;
}
.panelInfo{
  margin-top: 150px;
  display: none;
  position: absolute;
  width: 450px;
  z-index: 1;
  background-color: #f4f4f4f2;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  -webkit-box-shadow: 10px 10px 24px -33px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 24px -33px rgba(0,0,0,0.75);
box-shadow: 10px 10px 24px -33px rgba(0,0,0,0.75);
}

.panelInfo h1{
 font-family: Krona one;
}

.panelesInfo p{
  
  font-size: 15px;
}

.enfocado{
  display: block;
}
.paneles{
  display: flex;
  width: 910px;
  right: 0;
}

.panel{
  height: 100vh;
  flex: 1;
  background:no-repeat center;
  background-size: cover;
  transition: flex 0.5s ease; /* Transición suave para el cambio de flex */
  filter:  brightness(0.4);
  position: relative;

}

/*.panel h3{
  position: absolute;
  font-size: 30px;
  color: white;
  transform: rotate(-90deg);
  left: 0;
  bottom: 60px;
  font-family: 'Times New Roman', Times, serif;
}*/
.grande{
  flex: 4;
  filter: brightness(1);
 }

.explorar{
  width: fit-content;
}

.explorar .button-text{
  margin: 0 0 0 2.5rem !important;
}

#panel0{background-image: url("../imagenes/works/worksbanio.png");}
#panel1{background-image: url("../imagenes/works/workscocina.png");}
#panel2{background-image: url("../imagenes/works/workssalon.png");}

